<p id="notice"><%= notice %></p>

<p>
  <strong>Html:</strong>
  <%= @readme.html %>
</p>

<p>
  <strong>Search:</strong>
  <%= @readme.search %>
</p>

<p>
  <strong>Package:</strong>
  <%= @readme.package_id %>
</p>

<%= link_to 'Edit', edit_readme_path(@readme) %> |
<%= link_to 'Back', readmes_path %>
