<p id="notice"><%= notice %></p>

<h1>Trending Monthly News Items</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trending_monthly_news_items.each do |trending_monthly_news_item| %>
      <tr>
        <td><%= link_to 'Show', trending_monthly_news_item %></td>
        <td><%= link_to 'Edit', edit_trending_monthly_news_item_path(trending_monthly_news_item) %></td>
        <td><%= link_to 'Destroy', trending_monthly_news_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Trending Monthly News Item', new_trending_monthly_news_item_path %>
