<%= form_for(download) do |f| %>
  <% if download.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(download.errors.count, "error") %> prohibited this download from being saved:</h2>

      <ul>
      <% download.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :file %>
    <%= f.text_field :file %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
