<p id="notice"><%= notice %></p>

<h1>Reddit News Items</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reddit_news_items.each do |reddit_news_item| %>
      <tr>
        <td><%= link_to 'Show', reddit_news_item %></td>
        <td><%= link_to 'Edit', edit_reddit_news_item_path(reddit_news_item) %></td>
        <td><%= link_to 'Destroy', reddit_news_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reddit News Item', new_reddit_news_item_path %>
