<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @label.category %>
</p>

<p>
  <strong>Package:</strong>
  <%= @label.package %>
</p>

<%= link_to 'Edit', edit_label_path(@label) %> |
<%= link_to 'Back', labels_path %>
