<div class="cs-main-area cs-full-width">

  <div class="panel panel-default">

    <div class="panel-heading">

      <h3 class="cs-no-margin cs-full-width cs-center">
        Users
      </h3>

    </div>

    <div class="panel-body">

      <table class="table table-striped table-hover cs-no-margin">

        <thead>

          <tr>

            <th>#</th>
            <th>User</th>
            <th class='hidden-xs'>Top Packages</th>
            <th class='hidden-xs hidden-sm'></th>
            <th class='hidden-xs hidden-sm hidden-md'></th>
            <th>
              Commits
            </th>

          </tr>

        </thead>

        <tbody>

          <% @users.each_with_index do |user, index| %>

            <tr>

              <td><%= index + 1 %></td>
              <td><%= link_to user.name, user_path(user) %></td>

              <%
                  limit_count = 3

                  package_query = user.supported_packages.includes(:contributions)
                  package_query = package_query.order("contributions.score desc")
                  package_query = package_query.first(limit_count)

                  padding_vars = [ {} ] * ( limit_count - package_query.count )

                  user_packages = package_query + padding_vars
              %>

              <% user_packages.each_with_index do |package, sub_index| %>

                <%
                    data_class = 'hidden-xs'
                    data_class += ' hidden-sm' if sub_index > 0
                    data_class += ' hidden-md' if sub_index > 1
                %>

                <td class='<%= data_class %>'>

                  <% package_name = package.try(:name) %>

                  <% if package_name.present? %>
                    <%= link_to truncate( package_name, length: 20), package_path(package) %>
                  <% else %>
                    -
                  <% end %>

                </td>

              <% end %>

              <td>
                <% if @package.present? %>
                  <%= Contribution.find_by(user: user, package: @package).score %>
                <% else %>
                  <%= user.supported_packages.sum(:score) %>
                <% end %>
              </td>

            </tr>

          <% end %>

        </tbody>

      </table>

    </div>

    <%= render 'layouts/fork_footer' %>

  </div>

</div>
