<div class="jumbotron" style="margin-bottom: 0 !important;">

  <div class="container">

    <div class="panel panel-primary">

      <div class="panel-heading cs-center">
        <h4 class="cs-no-margin">

          <%= @subject %>

        </h4>
      </div>

      <div class="panel-body cs-no-padding">

        <% if @bad_object[:referrer].present? %>

          <p style="font-size: 16px;">

            <%= @bad_object[:referrer] %>

          </p>

          <hr>

        <% end %>

        <% if @bad_object[:cookies].present? %>

          <p style="font-size: 16px;">

            <%= @bad_object[:cookies] %>

          </p>

          <hr>

        <% end %>

        <p style="font-size: 16px;">

          <%= @bad_object[:params].inspect %>

        </p>

        <hr>

        <% if @bad_object[:exception].present? %>

          <p style="font-size: 16px;">

            <%= @bad_object[:exception] %>

          </p>

          <hr>

        <% end %>

        <% @log_file.each_with_index do |line, index| %>

          <p style="font-size: 16px;">
            <%= line %>
          </p>

        <% end %>

      </div>

    </div>

  </div>

</div>
