<div class="col-sm-8 cs-main-area">

  <div class="panel panel-default">

    <div class="panel-heading">

      <h4 class="cs-no-margin">
        <%= @sort.titleize %>
        Packages
      </h4>

      <div class="btn-group cs-pull-right">

        <%= link_to 'Top', root_path, class: "btn #{ ( params[:sort].present? ) ? '' : ' btn-raised btn-primary' }" %>
        <%= link_to 'New', root_path(sort: 'new'), class: "btn #{ ( params[:sort] == 'new' ) ? ' btn-raised btn-primary' : '' }" %>

      </div>

    </div>

    <div class="panel-body">

      <div class="list-group cs-no-margin">

        <% @packages.each_with_index do |package, index| %>

          <% unless index.zero? %>

            <div class="list-group-separator"></div>

          <% end %>

          <div class="list-group-item">

            <div class="row-picture">

              <i class="circle" alt="icon">
                <%= index + 1 %>
              </i>

            </div>

            <div class="row-content">

              <h4 class="list-group-item-heading">
                <%= link_to package.name, package %>
              </h4>

              <p class="list-group-item-text">
                <%= truncate package.description, length: 50 %>
              </p>

            </div>

          </div>

        <% end %>

      </div>

    </div>

    <div class="panel-footer">
      View all <%= @sort %> packages
    </div>

  </div>

</div>

<%= render 'layouts/category_sidebar' %>
