<%= form_for(news_item) do |f| %>
  <% if news_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(news_item.errors.count, "error") %> prohibited this news_item from being saved:</h2>

      <ul>
      <% news_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :target_id %>
    <%= f.text_field :target_id %>
  </div>

  <div class="field">
    <%= f.label :link %>
    <%= f.text_field :link %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
