<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @ownership.user %>
</p>

<p>
  <strong>Package:</strong>
  <%= @ownership.package %>
</p>

<%= link_to 'Edit', edit_ownership_path(@ownership) %> |
<%= link_to 'Back', ownerships_path %>
