<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @contribution.user %>
</p>

<p>
  <strong>Package:</strong>
  <%= @contribution.package %>
</p>

<%= link_to 'Edit', edit_contribution_path(@contribution) %> |
<%= link_to 'Back', contributions_path %>
