<p id="notice"><%= notice %></p>

<p>
  <strong>Package:</strong>
  <%= @version.package %>
</p>

<p>
  <strong>Major:</strong>
  <%= @version.major %>
</p>

<p>
  <strong>Minor:</strong>
  <%= @version.minor %>
</p>

<p>
  <strong>Patch:</strong>
  <%= @version.patch %>
</p>

<p>
  <strong>Sha1:</strong>
  <%= @version.sha1 %>
</p>

<p>
  <strong>Number:</strong>
  <%= @version.number %>
</p>

<%= link_to 'Edit', edit_version_path(@version) %> |
<%= link_to 'Back', versions_path %>
