<%= form_for(subscription) do |f| %>
  <% if subscription.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(subscription.errors.count, "error") %> prohibited this subscription from being saved:</h2>

      <ul>
      <% subscription.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :feed_id %>
    <%= f.text_field :feed_id %>
  </div>

  <div class="field">
    <%= f.label :news_item_id %>
    <%= f.text_field :news_item_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
