<p id="notice"><%= notice %></p>

<h1>Batches</h1>

<h4>Active Marker: <%= Batch.active_marker %></h4>
<h4>Current Marker: <%= Batch.current_marker %></h4>

<table>
  <thead>
    <tr>
      <th>Marker</th>
      <th>Item</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @batches.each do |batch| %>
      <tr>
        <td><%= batch.marker %></td>
        <td><%= batch.item %></td>
        <td><%= link_to 'Show', batch %></td>
        <td><%= link_to 'Edit', edit_batch_path(batch) %></td>
        <td><%= link_to 'Destroy', batch, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Batch', new_batch_path %>
