<p id="notice"><%= notice %></p>

<h1>Counters</h1>

<table>
  <thead>
    <tr>
      <th>Fork</th>
      <th>Stargazer</th>
      <th>Open issue</th>
      <th>Package</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @counters.each do |counter| %>
      <tr>
        <td><%= counter.fork %></td>
        <td><%= counter.stargazer %></td>
        <td><%= counter.open_issue %></td>
        <td><%= counter.package %></td>
        <td><%= link_to 'Show', counter %></td>
        <td><%= link_to 'Edit', edit_counter_path(counter) %></td>
        <td><%= link_to 'Destroy', counter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Counter', new_counter_path %>
