<p id="notice"><%= notice %></p>

<div class="h-screen flex overflow-hidden bg-gray-100" x-data="{ sidebarOpen: false }" @keydown.window.escape="sidebarOpen = false">

  <%= render partial: 'layouts/index_sidebar' %>

  <div class="flex flex-col w-0 flex-1 overflow-hidden">

    <%= render partial: 'layouts/index_navbar' %>

    <main class="cs-index-main">

      <%
        init_params = {
          order: params[:order], sort: params[:sort],
          min_stars: params[:min_stars], since: params[:since],
          depth: params[:depth], registered: params[:registered]
        }

        init_params.delete_if { |k, v| !v.present? }
      %>

      <%= render partial: "index_tabs", locals: { init_params: init_params } %>

      <div class="max-w-2xl mx-auto px-8 js-sub-category <%= 'hidden' unless params[:sub_category].present? %>">
        <div class="pt-5 mt-0.5 pb-4 mb-2">
          <%= render partial: "index_sub_categories", locals: { init_params: init_params } %>
        </div>
      </div>

      <div class="max-w-7xl mx-auto px-8 js-category <%= 'hidden' if params[:sub_category].present? %>">
        <div class="pt-5 mt-0.5 pb-4 mb-2">
          <%= render partial: "index_categories", locals: { init_params: init_params } %>
        </div>
      </div>

    </main>

  </div>

</div>
