<p id="notice"><%= notice %></p>

<p>
  <strong>Tag name:</strong>
  <%= @release.tag_name %>
</p>

<p>
  <strong>Published at:</strong>
  <%= @release.published_at %>
</p>

<%= link_to 'Edit', edit_release_path(@release) %> |
<%= link_to 'Back', releases_path %>
