<div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">

  <%
    is_trending_path = @category.present? && @category.name == "Trending"

    init_params = {
      id: cur_id,
      search: params[:search], s: params[:s],
      depender: params[:depender], dependee: params[:dependee],
      min_stars: params[:min_stars], since: params[:since]
    }

    init_params.delete_if { |k, v| !v.present? }
  %>

  <div class="sm:hidden">

    <%= form_tag public_send(cur_path, init_params[:id]), method: "get" do %>
      <% init_params.each do |cur_key, cur_value| %>
        <% next if cur_key == :id %>
        <%= hidden_field_tag cur_key.to_s, cur_value %>
      <% end %>

      <%
        cur_sort = params[:sort]
        if is_trending_path && !cur_sort.present?
          cur_sort = "updated"
        end
      %>

      <%= select_tag(:sort, options_for_select([["Stargazers", "stars"],["Alphabetical", "name"], ["Updated", "updated"], ["Created", "created"]], cur_sort), class:"form-select block w-full", onchange: 'this.form.submit()') %>
    <% end %>

  </div>

  <div class="hidden sm:block">
    <nav class="flex">

      <% if !params[:sort].present? && !is_trending_path %>
        <%= link_to "Stargazers", public_send(cur_path, init_params.merge({ sort: "stars", order: "asc"})), class: "cs-tab cs-active" %>
      <% elsif params[:sort] != "stars" %>
        <%= link_to "Stargazers", public_send(cur_path, init_params.merge({ sort: "stars"})), class: "cs-tab" %>
      <% elsif params[:order].present? %>
        <%= link_to "Stargazers", public_send(cur_path, init_params.merge({ sort: "stars"})), class: "cs-tab cs-active" %>
      <% else %>
        <%= link_to "Stargazers", public_send(cur_path, init_params.merge({ sort: "stars", order: "asc"})), class: "cs-tab cs-active" %>
      <% end %>

      <% if params[:sort] != "name" %>
        <%= link_to "Alphabetical", public_send(cur_path, init_params.merge({ sort: "name"})), class: "cs-tab ml-4" %>
      <% elsif params[:order].present? %>
        <%= link_to "Alphabetical", public_send(cur_path, init_params.merge({ sort: "name"})), class: "cs-tab ml-4 cs-active" %>
      <% else %>
        <%= link_to "Alphabetical", public_send(cur_path, init_params.merge({ sort: "name", order: "desc"})), class: "cs-tab ml-4 cs-active" %>
      <% end %>

      <% tab_name = "updated" %>

      <% if !params[:sort].present? && is_trending_path %>
        <%= link_to tab_name.titleize, public_send(cur_path, init_params.merge({ sort: tab_name, order: "asc"})), class: "cs-tab ml-4 cs-active" %>
      <% elsif params[:sort] != tab_name %>
        <%= link_to tab_name.titleize, public_send(cur_path, init_params.merge({ sort: tab_name})), class: "cs-tab ml-4" %>
      <% elsif params[:order].present? %>
        <%= link_to tab_name.titleize, public_send(cur_path, init_params.merge({ sort: tab_name})), class: "cs-tab ml-4 cs-active" %>
      <% else %>
        <%= link_to tab_name.titleize, public_send(cur_path, init_params.merge({ sort: tab_name, order: "asc"})), class: "cs-tab ml-4 cs-active" %>
      <% end %>

      <% tab_name = "created" %>

      <% if params[:sort] != tab_name %>
        <%= link_to tab_name.titleize, public_send(cur_path, init_params.merge({ sort: tab_name})), class: "cs-tab ml-4" %>
      <% elsif params[:order].present? %>
        <%= link_to tab_name.titleize, public_send(cur_path, init_params.merge({ sort: tab_name})), class: "cs-tab ml-4 cs-active" %>
      <% else %>
        <%= link_to tab_name.titleize, public_send(cur_path, init_params.merge({ sort: tab_name, order: "asc"})), class: "cs-tab ml-4 cs-active" %>
      <% end %>

    </nav>
  </div>
</div>
