<%
  init_params = {
    order: params[:order], sort: params[:sort],
    min_stars: params[:min_stars], since: params[:since],
    depth: params[:depth], registered: params[:registered]
  }

  init_params.delete_if { |k, v| !v.present? }
%>

<div>
  <%= link_to packages_path(init_params), class: "cs-sidebar-tab group" + current_class?(packages_path) do %>
    <%= inline_svg_tag "database.svg", class: 'mr-3 h-5 w-5 text-gray-400 group-hover:text-gray-500 group-focus:text-gray-500 transition ease-in-out duration-150', style: "fill: currentcolor;" %>
    All Packages
  <% end %>
  <%= link_to trending_path(init_params), class: "cs-sidebar-tab group" + current_class?(trending_path) + current_class?(root_path) do %>
    <%= inline_svg_tag "stats-dots.svg", class: 'mr-3 h-5 w-5 text-gray-400 group-hover:text-gray-500 group-focus:text-gray-500 transition ease-in-out duration-150', style: "fill: currentcolor;" %>
    Trending
  <% end %>
  <%= link_to users_path(init_params), class: "cs-sidebar-tab group" + current_class?(users_path) do %>
    <%= inline_svg_tag "user.svg", class: 'mr-3 h-5 w-5 text-gray-400 group-hover:text-gray-500 group-focus:text-gray-500 transition ease-in-out duration-150', style: "fill: currentcolor;" %>
    Developers
  <% end %>
  <div class="border-t border-gray-200 mt-7 pt-0.5"></div>
</div>
<div class="mt-8">
  <h3 class="px-1.5 pb-0.5 text-xs leading-4 font-semibold text-gray-500 uppercase tracking-wider">
    Categories
  </h3>

  <%
    shown_categories = 8

    sidebar_categories = Category.where(name: $category_map.keys).order(labels_count: :desc).first(shown_categories)

    is_category_select = @category.present? && @category.name != "Trending"
    is_sub_category_select = is_category_select && $sub_category_dict.keys.include?(@category.slug)

    if is_category_select
      active_sidebar_category = is_sub_category_select ? $sub_category_dict[@category.slug] : @category

      if sidebar_categories.map(&:slug).include?(active_sidebar_category.slug)
        category_index = sidebar_categories.map(&:slug).index active_sidebar_category.slug

        top_categories = sidebar_categories.first(category_index)
        bot_categories = sidebar_categories.last(sidebar_categories.length - (category_index+1))
      else
        sidebar_categories.pop

        top_categories = sidebar_categories.first 2
        bot_categories = sidebar_categories.last ( shown_categories - 3 )
      end
    else
      top_categories = sidebar_categories
      bot_categories = []
    end
  %>

  <% top_categories.each do |sidebar_category| %>
    <%= link_to cat_path(sidebar_category, init_params), class: "cs-sidebar-tab group" do %>
      <%= inline_svg_tag "folder.svg", class: 'mr-3 h-5 w-5 text-gray-400 group-hover:text-gray-500 group-focus:text-gray-500 transition ease-in-out duration-150', style: "fill: currentcolor;" %>
      <%= sidebar_category.name %>
    <% end %>
  <% end %>

  <% if is_category_select %>
    <%= link_to cat_path(active_sidebar_category, init_params), class: "cs-sidebar-tab group active" do %>
      <%= inline_svg_tag "folder-open.svg", class: 'mr-3 h-5 w-5 text-gray-400 group-hover:text-gray-500 group-focus:text-gray-500 transition ease-in-out duration-150', style: "fill: currentcolor;" %>
      <%= active_sidebar_category.name %>
    <% end %>

    <%
      shown_sub_categories = 8

      has_more_sub_categories = $category_dict[active_sidebar_category.slug].count > shown_sub_categories

      sidebar_sub_categories = $category_dict[active_sidebar_category.slug].first(shown_sub_categories)

      if is_sub_category_select && !sidebar_sub_categories.map(&:slug).include?(@category.slug)
        sidebar_sub_categories.pop

        top_sub_categories = sidebar_sub_categories.first 2
        bot_sub_categories = sidebar_sub_categories.last ( shown_sub_categories - 3 )

        sidebar_sub_categories = top_sub_categories
        sidebar_sub_categories << @category
        sidebar_sub_categories += bot_sub_categories
      end
    %>

    <% sidebar_sub_categories.each do |sidebar_sub_category| %>
      <%= link_to cat_path(sidebar_sub_category, init_params), class: "cs-sidebar-tab group" do %>
        <% if @category.slug == sidebar_sub_category.slug %>
          <%= inline_svg_tag "radio-checked.svg", class: 'mr-3 h-2.5 w-5 text-gray-400 group-hover:text-gray-500 group-focus:text-gray-500 transition ease-in-out duration-150', style: "fill: currentcolor;" %>
          <span class="font-medium"><%= sidebar_sub_category.name %></span>
        <% else %>
          <%= inline_svg_tag "radio-unchecked.svg", class: 'mr-3 h-2.5 w-5 text-gray-400 group-hover:text-gray-500 group-focus:text-gray-500 transition ease-in-out duration-150', style: "fill: currentcolor;" %>
          <span class="font-normal"><%= sidebar_sub_category.name %></span>
        <% end %>
      <% end %>
    <% end %>

    <% if has_more_sub_categories %>
      <%= link_to categories_path(init_params.merge({ sub_category: active_sidebar_category})), class: "group flex items-center pl-10 pr-2 py-3 text-sm leading-5 font-normal text-gray-600 rounded-md hover:text-gray-900 hover:bg-gray-50 focus:outline-none focus:bg-gray-100 transition ease-in-out duration-150" do %>
        <span class="truncate">
          View more subcategories
        </span>
      <% end %>
    <% end %>
  <% end %>

  <% bot_categories.each do |sidebar_category| %>
    <%= link_to cat_path(sidebar_category, init_params), class: "cs-sidebar-tab group" do %>
      <%= inline_svg_tag "folder.svg", class: 'mr-3 h-5 w-5 text-gray-400 group-hover:text-gray-500 group-focus:text-gray-500 transition ease-in-out duration-150', style: "fill: currentcolor;" %>
      <%= sidebar_category.name %>
    <% end %>
  <% end %>

  <%= link_to categories_path(init_params), class: "group flex items-center px-2 py-3 text-sm leading-5 font-medium text-gray-600 rounded-md hover:text-gray-900 hover:bg-gray-50 focus:outline-none focus:bg-gray-100 transition ease-in-out duration-150" do %>
    <span class="truncate">
      View more categories
    </span>
  <% end %>

</div>
