<div class="relative z-10 flex-shrink-0 flex h-16 bg-white shadow">
  <button @click.stop="sidebarOpen = true" class="px-4 border-r border-gray-200 text-gray-500 focus:outline-none focus:bg-gray-100 focus:text-gray-600 md:hidden">
    <svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" />
    </svg>
  </button>
  <div class="flex-1 px-4 flex justify-between">
    <div class="flex-1 flex">

      <%
        init_params = {
          order: params[:order], sort: params[:sort],
          min_stars: params[:min_stars], since: params[:since],
          depth: params[:depth]
        }

        init_params.delete_if { |k, v| !v.present? }
      %>

      <%= form_tag packages_path, class: "w-full flex md:ml-0", method: "get" do %>
          <% init_params.each do |cur_key, cur_value| %>
            <%= hidden_field_tag cur_key.to_s, cur_value %>
          <% end %>

          <label for="search" class="sr-only">Search</label>
          <div class="relative w-full text-gray-400 focus-within:text-gray-600">
            <div class="absolute inset-y-0 left-0 flex items-center pointer-events-none">
              <svg class="h-5 w-5" fill="currentColor" viewBox="0 0 20 20">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" />
              </svg>
            </div>
            <%= text_field_tag :search, params[:search], autocomplete: :off, placeholder: "Search", class: "block w-full h-full pl-8 pr-3 py-2 rounded-md text-gray-900 placeholder-gray-500 focus:outline-none focus:placeholder-gray-400 sm:text-sm", tabindex: "1", "x-init" => "$el.focus()" %>
          </div>
      <% end %>

    </div>
    <div class="ml-4 flex items-center md:ml-6">
      <div @click.away="open = false" class="ml-3 relative" x-data="{ open: false }">
        <div>
          <button @click="open = !open" class="max-w-xs flex items-center text-sm rounded-full focus:outline-none focus:shadow-outline">
            <span class="inline-flex items-center justify-center h-8 w-8 rounded-full bg-gray-400">
              <span class="text-sm font-medium leading-none text-white"><%= fa_icon "cog lg" %></span>
            </span>
          </button>
        </div>

        <%= render partial: "layouts/settings_dropdown" %>

      </div>
    </div>
  </div>
</div>
