<%
  Dir.glob(Rails.root.join('app/models/*')).each do |model_class|
    is_directory = File.directory? model_class
    next if is_directory

    require model_class
  end
%>

<div class="navbar navbar-inverse navbar-fixed-top">

  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Julia Observer', root_path, class: "navbar-brand" %>
    </div>

    <div class="navbar-collapse collapse navbar-inverse-collapse">

      <form class="navbar-form navbar-left">
        <div class="form-group">
          <%= autocomplete_field_tag :search, params[:search], autocomplete_package_name_packages_path, class: "form-control col-sm-8", placeholder: "Search" %>
        </div>
      </form>

      <ul class="nav navbar-nav navbar-right">

        <%
          is_package_path = controller_name == 'packages'
          is_root_path = is_package_path && action_name == 'index'
        %>

        <li class="<%= is_root_path ? 'active' : '' %>">
          <%= link_to 'Home', root_path %>
        </li>

        <% unless is_root_path %>

          <% unless is_package_path %>

            <li class="<%= (action_name == 'index') ? 'active' : '' %>">
              <%= link_to controller_name.titleize, send("#{controller_name}_path") %>
            </li>

          <% end %>

          <% unless action_name == 'index' %>

            <li class="active">
              <% case action_name %>
              <% when 'show' %>
                <%= link_to truncate(params[:id], length: 25), send("#{controller_name.singularize}_path"), @model %>
              <% when 'edit' %>
                <%= link_to truncate(params[:id], length: 25), send("edit_#{controller_name.singularize}_path"), @model %>
              <% when 'new' %>
                <%= link_to 'New', send("new_#{controller_name.singularize}_path") %>
              <% else %>
                <a>ruh roh</a>
              <% end %>
            </li>

          <% end %>

        <% end %>

        <li class="dropdown">
          <a href="index.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">
            <b class="caret"></b></a>
          <ul class="dropdown-menu">

            <li>
              <a href="https://github.com/djsegal/julia_observer" target="_blank">
                Github Page
              </a>
            </li>

            <li class="divider"></li>

            <li class="dropdown-header">Models</li>

              <% ApplicationRecord.descendants
.each do |model_class| %>

                <%
                  has_name = model_class.attribute_names.include? "name"
                  next unless has_name

                  cur_class_name = model_class.name.pluralize.underscore
                %>

                <li>
                  <%= link_to cur_class_name.titleize, send("#{cur_class_name.underscore}_path") %>
                </li>

              <% end %>
          </ul>
        </li>
      </ul>

    </div>

  </div>

</div>
