<%
  cookies.permanent[:has_discourse_news] ||= 'false'
  cookies.permanent[:has_reddit_news] ||= 'false'
  cookies.permanent[:has_github_news] ||= 'false'

  has_discourse_news = ( cookies.permanent[:has_discourse_news] == 'true' )
  has_reddit_news = ( cookies.permanent[:has_reddit_news] == 'true' )
  has_github_news = ( cookies.permanent[:has_github_news] == 'true' )
%>

<div class="list-group-item cs-center row cs-no-padding cs-no-margin">

  <%= link_to settings_path(has_discourse_news: !has_discourse_news), class: "col-xs-4 cs-no-margin btn cs-news-selector #{ 'btn-primary' if has_discourse_news }" do %>
    <h4 class="cs-no-margin">
      <%= fa_icon "comment lg" %>
    </h4>
  <% end %>

  <%= link_to settings_path(has_reddit_news: !has_reddit_news), class: "col-xs-4 cs-no-margin btn cs-news-selector #{ 'btn-primary' if has_reddit_news }" do %>
    <h4 class="cs-no-margin">
      <%= fa_icon "reddit lg" %>
    </h4>
  <% end %>

  <%= link_to settings_path(has_github_news: !has_github_news), class: "col-xs-4 cs-no-margin btn cs-news-selector #{ 'btn-primary' if has_github_news }" do %>
    <h4 class="cs-no-margin">
      <%= fa_icon "github lg" %>
    </h4>
  <% end %>
</div>

<%

  if !has_discourse_news and !has_reddit_news and !has_github_news
    has_discourse_news, has_reddit_news, has_github_news = [true]*3
  end

  if has_discourse_news
    discourse_even_news_items, discourse_odd_news_items = \
      DiscourseNewsItem.active_batch_scope.includes(:target)
      .limit(50).all.partition.with_index { |x, i| i.even? }
  end

  news_items_lists = []

  if has_reddit_news
    news_items_lists << RedditNewsItem.active_batch_scope.includes(:target).all
  end

  if has_discourse_news
    news_items_lists << discourse_even_news_items
  end

  if has_github_news
    news_items_lists << GithubNewsItem.active_batch_scope.includes(:target).all
  end

  if has_discourse_news
    news_items_lists << discourse_odd_news_items
  end

  first_news_items = news_items_lists.shift

  news_items = first_news_items.zip(
    *news_items_lists
  ).flatten

  news_css_classes = 'btn btn-default cs-left-align cs-no-margin col-xs-10'
%>

<% news_items.first(60).each_with_index do |news_item, index| %>

  <div class="list-group-separator cs-full-width cs-no-margin"></div>

  <div class="list-group-item cs-no-padding">

    <div class="cs-full-width cs-category-row row cs-no-margin">

        <% case news_item.target_type %>
        <% when 'Reference' %>

          <a href="<%= news_item.target.link %>" class="<%= news_css_classes %> cs-link-hover" target="_blank">

            <p class="cs-truncated-text">
              <%= news_item.name %>
            </p>

            <p class="cs-truncated-text cs-no-margin">
              <i>link: <span class='cs-link'><%= news_item.target.link %></span></i>
            </p>

          </a>

        <% when 'Blurb' %>

          <div class="<%= news_css_classes %> cs-show-more-toggle js-show-more-toggle">

            <p class="cs-truncated-text">
              <%= news_item.name %>
            </p>

            <div class="cs-blurb-text">
              <%= CGI.unescapeHTML( news_item.target.cargo ).html_safe %>
            </div>

          </div>

        <% when 'Package' %>

          <%= link_to news_item_path(news_item), class: "#{news_css_classes} cs-link-hover" do %>

            <p class="cs-truncated-text">
              New Package: <%= news_item.name %>
            </p>

            <p class="cs-no-margin">
              <span class='cs-link'>view summary</span>
            </p>

          <% end %>

        <% else %>

          <div class="<%= news_css_classes %>">

            <p>
              shoot...
            </p>

            <p class="cs-no-margin">
              :(
            </p>

          </div>

        <% end %>

      <a class="btn btn-default cs-no-margin col-xs-2 cs-link-icon" href="<%= news_item.link %>" style='padding-left: 0; padding-right: 0;' target="_blank">

        <% icon_type = news_item.class.name[/.*(?=NewsItem)/].downcase %>

        <% icon_type = 'comment' if icon_type == 'discourse' %>

        <%= fa_icon "#{ icon_type } 2x" %>

      </a>

    </div>

  </div>

<% end %>
