<div class="py-1">
  <a href="https://github.com/djsegal/julia_packages" class="<%= cur_class %>">
    <%= inline_svg_tag "github.svg", class: 'mr-3 h-5 w-5 text-gray-400 group-hover:text-gray-500 group-focus:text-gray-500', height: "20px", width: "20px", style: "fill: currentcolor;" %>
    Visit Github
  </a>
  <a href="https://github.com/djsegal/julia_packages/issues/new" class="<%= cur_class %>">
    <%= inline_svg_tag "pencil.svg", class: 'mr-3 h-5 w-5 text-gray-400 group-hover:text-gray-500 group-focus:text-gray-500', height: "20px", width: "20px", style: "fill: currentcolor;" %>
    File Issue
  </a>
  <a href="https://mail.google.com/mail/?view=cm&fs=1&to=dan@seg.al&su=Julia+Packages+Suggestion" class="<%= cur_class %>">
    <%= inline_svg_tag "envelop.svg", class: 'mr-3 h-5 w-5 text-gray-400 group-hover:text-gray-500 group-focus:text-gray-500', height: "20px", width: "20px", style: "fill: currentcolor;" %>
    Email Request
  </a>
</div>
<div class="border-t border-gray-100"></div>
<div class="py-1">
  <a href="javascript:void(0)" class="js-learn-more <%= cur_class %>">
    <%= inline_svg_tag "info.svg", class: 'mr-3 h-5 w-5 text-gray-400 group-hover:text-gray-500 group-focus:text-gray-500', height: "20px", width: "20px", style: "fill: currentcolor;" %>
    Learn More
  </a>
  <a href="https://github.com/sponsors/djsegal" class="<%= cur_class %>">
    <%= inline_svg_tag "heart.svg", class: 'mr-3 h-5 w-5 text-gray-400 group-hover:text-gray-500 group-focus:text-gray-500', height: "20px", width: "20px", style: "fill: currentcolor;" %>
    Sponsor Project
  </a>
</div>
