<div x-show="open" id="cs-settings-dropdown" x-transition:enter="transition ease-out duration-100" x-transition:enter-start="transform opacity-0 scale-95" x-transition:enter-end="transform opacity-100 scale-100" x-transition:leave="transition ease-in duration-75" x-transition:leave-start="transform opacity-100 scale-100" x-transition:leave-end="transform opacity-0 scale-95" class="origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg">
  <div class="rounded-md bg-white shadow-xs">
    <div class="py-1">
      <a href="https://github.com/djsegal/julia_packages" class="group flex items-center px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900">
        <%= inline_svg_tag "github.svg", class: 'mr-3 h-5 w-5 text-gray-400 group-hover:text-gray-500 group-focus:text-gray-500', height: "20px", width: "20px", style: "fill: currentcolor;" %>
        Visit Github
      </a>
      <a href="https://github.com/djsegal/julia_packages/issues/new" class="group flex items-center px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900">
        <%= inline_svg_tag "pencil.svg", class: 'mr-3 h-5 w-5 text-gray-400 group-hover:text-gray-500 group-focus:text-gray-500', height: "20px", width: "20px", style: "fill: currentcolor;" %>
        File Issue
      </a>
      <a href="https://mail.google.com/mail/?view=cm&fs=1&to=dan@seg.al&su=Julia+Packages+Suggestion" class="group flex items-center px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900">
        <%= inline_svg_tag "envelop.svg", class: 'mr-3 h-5 w-5 text-gray-400 group-hover:text-gray-500 group-focus:text-gray-500', height: "20px", width: "20px", style: "fill: currentcolor;" %>
        Email Request
      </a>
    </div>
    <div class="border-t border-gray-100"></div>
    <div class="py-1">
      <a href="#" class="group flex items-center px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900">
        <%= inline_svg_tag "info.svg", class: 'mr-3 h-5 w-5 text-gray-400 group-hover:text-gray-500 group-focus:text-gray-500', height: "20px", width: "20px", style: "fill: currentcolor;" %>
        Learn More
      </a>
      <a href="https://github.com/sponsors/djsegal" class="group flex items-center px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900">
        <%= inline_svg_tag "heart.svg", class: 'mr-3 h-5 w-5 text-gray-400 group-hover:text-gray-500 group-focus:text-gray-500', height: "20px", width: "20px", style: "fill: currentcolor;" %>
        Sponsor Project
      </a>
    </div>
  </div>
</div>

