<!DOCTYPE html>

<html>

  <head>

    <title>Julia Observer</title>

    <meta name="google-site-verification" content="bv52cjhcijV21-uXOIIjeEasTB30O4TqbHwMu7W3fBc" />

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="keywords" content="julia observer package browser programming">
    <meta name="author" content="ahab io">
    <meta name="description" content="package browser for the julia language">

    <%= csrf_meta_tags %>

    <%= favicon_link_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag "//fonts.googleapis.com/css?family=Roboto:300,400,500,700", media: 'all', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">

    <script>
      var customInit = function() {
        $.material.init();
      };

      $(document).ready(customInit);
      $(document).on('turbolinks:load', customInit);
    </script>

  </head>

  <body>

    <%= link_to 'dummy-link', dummy_path('dummy_id'), class: "cs-dummy-link js-dummy-link" %>

    <%= render 'layouts/navbar' %>

    <%= yield %>

  </body>

</html>
