<!DOCTYPE html>
<html>
  <head>
    <title>JuliaPackages</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%#= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
