<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Julia Packages</title>

    <meta charset="UTF-8">

    <meta name="description" content="One stop shop for the Julia package ecosystem.">
    <meta name="keywords" content="Julia Packages">
    <meta name="author" content="Dan Segal (dan@seg.al)">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">

    <%= favicon_link_tag '/julia.ico' %>

  </head>

  <body>
    <%= yield %>

    <%= render partial: "layouts/modal" %>

  </body>
</html>
